{{#vendorExtensions.x-bungie-primitive}}{{#isByte}}{{^isUnsigned}}s{{/isUnsigned}}byte?{{/isByte}}{{#isShort}}{{#isUnsigned}}u{{/isUnsigned}}short?{{/isShort}}{{^isByte}}{{^isShort}}{{#isUnsigned}}u{{/isUnsigned}}{{{datatype}}}{{/isShort}}{{/isByte}}{{/vendorExtensions.x-bungie-primitive}}{{^vendorExtensions.x-bungie-primitive}}{{#isContainer}}{{{baseType}}}<{{#items}}{{>modelDataType}}{{/items}}>{{/isContainer}}{{^isContainer}}{{{datatype}}}{{/isContainer}}{{/vendorExtensions.x-bungie-primitive}}